uint64 value fails to validate

Given the following model:
```
$ cat test.json 
{
  "ietf-yang-library:modules-state": {
    "module-set-id": "",
    "module": [
      {
        "name": "test",
        "revision": "2020-07-22",
        "conformance-type": "implement"
      }
    ]
  }
}

$ cat test.yang 
module test {
  namespace "http://example.com";
  prefix test;

  revision 2020-07-22;

  leaf number {
    type uint64;
  }
}
```

I would expect the following program to run successfully:
```python
#!/usr/bin/env python

from yangson import DataModel

data_model = DataModel.from_file("./test.json")
data = {'test:number': 1}
inst = data_model.from_raw(data)
inst.validate()
```

However:
```
$ ./test.py
Traceback (most recent call last):
  File "./test.py", line 8, in <module>
    inst = data.from_raw(yaml_input)
  File "/data/developer/.virtualenvs/foo/lib/python3.6/site-packages/yangson/datamodel.py", line 109, in from_raw
    cooked = self.schema.from_raw(robj)
  File "/data/developer/.virtualenvs/foo/lib/python3.6/site-packages/yangson/schemanode.py", line 451, in from_raw
    res[ch.iname()] = ch.from_raw(rval[qn], npath)
  File "/data/developer/.virtualenvs/foo/lib/python3.6/site-packages/yangson/schemanode.py", line 850, in from_raw
    raise RawTypeError(jptr, self.type.yang_type() + " value")
yangson.exceptions.RawTypeError: [/test:number] expected uint64 value
```

Is 1 somehow not a `uint64`?

All goes well if the model says `uint32` rather than `uint64`.

Using yangson version 1.3.52.

Ah, 4be3f418, presumably?

Not sure what the purpose of that commit was, though, (or why it would apply only to 64-bit types)?

It is because of RFC 7951, [sec. 6.1](https://tools.ietf.org/html/rfc7951#section-6.1). Some people complained that Yangson doesn't follow the standard.

The problem with 64-bit precision is that some programming languages (notably JavaScript) cannot handle them and so exchanging them in a protocol is unsafe.

Oh, wow.  Yuk, but I don't expect to win an argument with the RFC!

Thanks for the explanation.