Let validate() treat RpcActionNode 'input' like 'config' and 'output' like 'nonconfig'

I have a routine that attempts to convert any raw text string received from a client to a Python object:

```
def encoded_str_to_obj(
    estr: str,
    enc: Encoding,
    dm: yangson.datamodel.DataModel,
    sn: yangson.schemanode.SchemaNode,
) -> dict:
    """
    Deserialize string to object...and validate it!

    Parameters:
      estr: the encoded string to deserialized
      enc:  the encoding to use (XML or JSON)
      sn:   the Yangson DataModel object to use
 
    Returns:
      a Python obj for the deserialized string

    <snip/>
```

It mostly works, but fails on RpcActionNode when the YANG defines an `output` statement containing `mandatory true` leaves, because the client-input only contains the `input` child.   As an example, see the `conveyed-information` leaf [here](https://datatracker.ietf.org/doc/html/rfc8572#section-7.1).

If, for the purpose of validation, the `input` could be treated like "config" and the `output` like "nonconfig", then a `content_type` parameter could be added to this routine to enable it to not throw an exception because the `output` statement is missing...


Perhaps you can validate it against the `InputNode`?

@kwatsen, on a more general note: I did some tests and I think that working with RPC payloads (and possibly notifications) is awkward in Yangson. It make little sense to me to validate RPCs together with config and state data, but actually also input and output data of the same RPC together. So what seems to be necessary is to treat the data model not as a single schema but as multiple schemas like this:
* main schema for config and state data
* two schemas for each RPC (one for input, another for output)
* one schema for each notification

So the `DataModel` class could have not just one `schema` member, as it is now, but (i) `main_schema` and (ii) a dictionary of RPC and notification schemas with RPC/notification names as dictionary keys. For every piece of instance data, one would  have to specify the schema to use (`main_schema` being the default). I think it shouldn't be too difficult to implement, and it could probably be made also almost perfectly backwards compatible.

I have two questions for you:
1. What do you think about this arrangement?
2. What is the best form/encapsulation of RPC payload data for submitting them to Yangson?  
 

Hi Lada, thank you for looking into this more.

To answer your first question, I looked into using `InputNode`, but the code would be rather hacky (a bunch of special cases).   Case in point, this is my 2nd or 3rd time looking into this issue and each time my "solution" is to instead disable validation  🫣

FWIW, below is a snippet of code that calls the aforementioned `encoded_str_to_obj()` function:

```
# get HTTP request body
request_body_text = await request.text()

# ascertain if `XML` or `JSON` from Content-Type
request_content_encoding = utils.Encoding[request.headers["Content-Type"].rsplit("+", 1)[1].upper()]

# get shemanode for this RPC
sn = self.dm.get_schema_node("/ietf-sztp-bootstrap-server:get-bootstrapping-data")

# convert body for a Python object
request_body = utils.encoded_str_to_obj(request_body_text, request_content_encoding, self.dm, an)
```


Regarding the questions in your second response, here are my thoughts:

1. Would the arrangement support `must` or `when` expressions?  From [RFC 7950, Section 6.4.1](https://datatracker.ietf.org/doc/html/rfc7950#section-6.4.1):
```
   o  If the XPath expression is defined in a substatement to a
      "notification" statement, the accessible tree is the notification
      instance, all state data in the server, and the running
      configuration datastore.  If the notification is defined on the
      top level in a module, then the root node has the node
      representing the notification being defined and all top-level data
      nodes in all modules as children.  Otherwise, the root node has
      all top-level data nodes in all modules as children.

   o  If the XPath expression is defined in a substatement to an "input"
      statement in an "rpc" or "action" statement, the accessible tree
      is the RPC or action operation instance, all state data in the
      server, and the running configuration datastore.  The root node
      has top-level data nodes in all modules as children.
      Additionally, for an RPC, the root node also has the node
      representing the RPC operation being defined as a child.  The node
      representing the operation being defined has the operation's input
      parameters as children.

   o  If the XPath expression is defined in a substatement to an
      "output" statement in an "rpc" or "action" statement, the
      accessible tree is the RPC or action operation instance, all state
      data in the server, and the running configuration datastore.  The
      root node has top-level data nodes in all modules as children.
      Additionally, for an RPC, the root node also has the node
      representing the RPC operation being defined as a child.  The node
      representing the operation being defined has the operation's
      output parameters as children.
```

2. I'm unsure what you mean, some examples might help.  That said, this seems related to #140, where I was suggesting normalization between NC/RC.

**Ad 1.** XPath context is actually more of an issue for instance data – if you want to validate RPC input/output payload containing XPath references to config or state data, then you also have to supply the main data tree somehow. It is OK e.g. for a RESTCONF server but not so much for offline validation, which is probably what you are doing now. I am not sure what typical use cases for RPC payload validation might be.

**Ad 2.** Several encapsulation formats are possible, starting from
```
{
    "modulename:rpcname": {
        "input": {
            ...
        }
        "output": {
            ...
        }
    }
}
```
and a few other options:
* either `input` or `output` inside `module name:rpcname` but not both (I am not sure if it makes sense to validate both at the same time)
* either `input` or `output` but without the encapsulating `modulename:rpcname`. Here we have to specify the RPC operation separately.
* just the contents of `input` or `output`. We have to separately specify the RPC operation, and also whether it is input or output. This could be a problem for XML, some encapsulating element would be needed anyway.

Which one do you prefer?

Ad 1. Actually, I am writing a RESTCONF server.  That said, Yangson should be mindful of the needs of clients too.  I understand the need for instance data, but my comment was more regarding Yangson being able to validate the `must` and `when` expressions (if it does at all), as it seems that would require access the config/state schema tree as well? 

Ad 2.  Thank you for presenting the three options.   My favorite is option 2.

PROs:
- implemented by pytests `test_rpc`, `test_xml_rpc` and `test_xml_action`, which bodes well for backwards compatibility.
- seamlessly handles XML with more than one top-level element. 
- 1-1 with RESTCONF payloads, which I think are better than NETCONF payloads.   I hope this is fixed via [this NC-next issue](https://github.com/netconf-wg/netconf-next/issues/56).

CONs:
- one could argue that option (1) is better because it is more consistent with how Yangson supports `notifications` (i.e., having an envelop identifying the notification)
- one could argue that option (2) is inconsistent with how Yangson does not expect an envelop for config/state data trees (i.e., there's no envelop called, e.g., "data-tree").  Disclaimer, for XML, the pytests show an envelop called "content-data" using the xmlns `ietf-yang-instance-data`.
- one could argue that option (3) is better because it hides even more of the difference between NC and RC.



I also like option (2) best. I will now do some more testing and will try to come up with improvements that could make RPC validation easier.

BTW, I found out that one of the tests for RPC (`test_c.py`, added by @HRogge) is based on an invalid YANG module `yang-modules/testc/testc@2021-01-05.yang` that contains an RPC definition inside a container, which is not permitted:
```
container rpcs {
  rpc rpcB {
  }
}
```
I actually don't know what this test is good for, so I plan to remove it.

OK, my first attempt is in `subschema` branch (d6249aa7db686840973233ea607e4a77849361f3). I added the `subschema` argument to the [from_raw](https://yangson.labs.nic.cz/datamodel.html#yangson.datamodel.DataModel.from_raw) method in the `DataModel` class. If it's not specified, everything works as before. If specified, it should contain a qualified name of a subschema, such as `modulename:rpcname`. The method will then create an `InstanceNode` instance bound to the schema node specified in `subschema`.

I tested it with the [Turing machine example](https://github.com/mbj4668/pyang/tree/master/doc/tutorial/examples), this YANG library:
```json filename="yl.json"
{
  "ietf-yang-library:modules-state": {
    "module-set-id": "",
    "module": [
      {
        "name": "second-tape",
        "revision": "",
        "namespace": "http://example.net/turing-machine/tape-2",
        "conformance-type": "implement"
      },
      {
        "name": "turing-machine",
        "revision": "2013-12-27",
        "namespace": "http://example.net/turing-machine",
        "conformance-type": "implement"
      }
    ]
  }
}
```
and this instance data:
```json filename="rpci-input.json"
{
    "turing-machine:input": {
        "tape-content": "aaabbb"
    }
}
``` 
I can now validate RPC input data like this:
```python
import json
from yangson import DataModel
from yangson.enumerations import ContentType
dm = DataModel.from_file("yl.json")
with open("rpci-init.json") as infile:
    ri = json.load(infile)
inst = dm.from_raw(ri, "turing-machine:initialize")
inst.validate(ctype=ContentType.nonconfig)
```
Note that it is necessary to specify `ContentType.nonconfig` but I think this is actually appropriate.

It should also be possible to submit RPC output data in exactly the same way, or even input and output together.

@kwatsen please test it with your stuff and let me know how it works. 

My 'rpc' statement has both 'input' and 'output'.  

When passing input-only and using 'nonconfig', I get:

```
    inst.validate(ctype=yangson.enumerations.ContentType.nonconfig)
  File "/Users/kent/Code/GitHub/cz-nic/yangson/yangson/instance.py", line 420, in validate
    self.schema_node._validate(self, scope, ctype)
  File "/Users/kent/Code/GitHub/cz-nic/yangson/yangson/schemanode.py", line 640, in _validate
    self._check_schema_pattern(inst, ctype)
  File "/Users/kent/Code/GitHub/cz-nic/yangson/yangson/schemanode.py", line 668, in _check_schema_pattern
    raise SchemaError(
yangson.exceptions.SchemaError: {/} missing-data: expected 'ietf-sztp-bootstrap-server:output'
```

For completeness, here's my 'input' document:

```
{
        "ietf-sztp-bootstrap-server:input" : {
            "signed-data-preferred": [null]
        }
}
```

Yes, this has to do with issue #140 – mandatory content inside `output`. I solved this by setting the `mandatory` property of both `InputNode` and `OutputNode` to `False` so that they now behave basically as containers with presence, which seems OK. Please verify.

Hi Lada,

Sorry for the delay.  Yes, the `subschema` branch with this most recent commit passes my tests.  Looking forward to your pushing a release.

Thank you!
Kent

OK, so it's now in release 1.6.0 (78cf46fc126b2c47d33e7931125c91b9f5b113ed). I made the same change to the `from_xml` method, so it should work for XML instances, too. Apart from RPCs, it can be also used for validating payload of notifications.

I also updated (and simplified) the unit tests of RPC a notification, I hope it's OK but feel free to change it or expand.

The `yangson` command-line tool also has a new `-S` or `--subschema` argument, see [manpage](https://yangson.labs.nic.cz/yangson-man.html#cmdoption-yangson-S).

Finally, I made a small backward-incompatible change in the command line utility: the default for the `--ctype` argument is now `ContentType.all` rather than `ContentType.config`. I think it makes more sense even though it could potentially break some existing scripts.
 
Thanks for cooperating on this!