NETCONF-based  RPC/action replies cannot be parsed

RFC 7950 says in both [Section 7.14.4](https://datatracker.ietf.org/doc/html/rfc7950#section-7.14.4) and [Section 7.15.2](https://datatracker.ietf.org/doc/html/rfc7950#section-7.15.2):

> If output parameters are returned, they are encoded as child elements to the \<rpc-reply\> element   \<snip/\>

However, consistent with [RFC 8040, Section 3.6.2](https://datatracker.ietf.org/doc/html/rfc8040#section-3.6.2), the various tests in `test_model.py` for `rpc` and `action` responses all expect an `output` container to be returned:

- https://github.com/CZ-NIC/yangson/blob/83ad93f10d7ff49957a931fd6e4f2c10fdb5a5c4/tests/test_model.py#L233
- https://github.com/CZ-NIC/yangson/blob/83ad93f10d7ff49957a931fd6e4f2c10fdb5a5c4/tests/test_model.py#L827
- https://github.com/CZ-NIC/yangson/blob/83ad93f10d7ff49957a931fd6e4f2c10fdb5a5c4/tests/test_model.py#L833
- https://github.com/CZ-NIC/yangson/blob/83ad93f10d7ff49957a931fd6e4f2c10fdb5a5c4/tests/test_model.py#L923
- https://github.com/CZ-NIC/yangson/blob/83ad93f10d7ff49957a931fd6e4f2c10fdb5a5c4/tests/test_model.py#L929

For NETCONF, it seems that the string "output" needs to be replaced with the name of the `rpc` or `action`.

Bonus issue/effort: the tests for `rpc` and `action` *requests* should be doublechecked as well.


That is one option but, as you say, the XML would have an issue, unless we use a fake container like [this one in list-pagination-rc](https://datatracker.ietf.org/doc/html/draft-ietf-netconf-list-pagination-rc#section-2.2).

My preferred option is to think about how to fix the problem in NETCONF (i.e., NETCONF-next).  My recommendation would be to make the NETCONF-response be the same as the RESTCONF response.  That is, have an `output` element under the `rpc-reply` element.

Looking at RFC 7950 for examples, I find that [the `rpc` response example]( https://datatracker.ietf.org/doc/html/rfc7950#section-7.14.5) is unhelpful for this illustration.   Thankfully, [the `action` response example](https://datatracker.ietf.org/doc/html/rfc7950#section-7.15.3) has output, and the same output is used for the rpc-response and action-response.   This is the relevant part:

CURRENT:
```
     <rpc-reply message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
       <reset-finished-at xmlns="urn:example:server-farm">2014-07-29T13:42:12Z</reset-finished-at>
     </rpc-reply>
```

I proposal changing this to:

NEW:
```
     <rpc-reply message-id="101" xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
       <output xmlns="urn:example:server-farm">
           <reset-finished-at>2014-07-29T13:42:12Z</reset-finished-at>
       </output>
     </rpc-reply>
```

Note that the `xmlns` is moved to the `output` element.

If we can agree that this is a good/proper update for NETCONF-next, then we can discuss options for Yangson.

Some options:

- document that the calling code is responsible for converting the XML to have the `output` container, before calling `from_xml()`
- provide a "convenience" API to convert the XML to have the `output` container, before calling `from_xml()`
- add a parameter to [the from_xml method](https://github.com/CZ-NIC/yangson/blob/83ad93f10d7ff49957a931fd6e4f2c10fdb5a5c4/yangson/schemanode.py#L567) to convert the XML to have the `output` container.

Thoughts?

This should now be resolved in 78cf46fc126b2c47d33e7931125c91b9f5b113ed (release 1.6.0). See also #142.