Also support RFC 8525, YANG Library, revision 2019-01-04 

### Description

Yangson currently supports the original RFC 7895, YANG Library, revision 2016-06-21.

This can be seen by grep-ing for the string "RFC7895" on these two pages:
- https://yangson.labs.nic.cz/yangson-man.html#yangson-man
- https://yangson.labs.nic.cz/datamodel.html

_The string may appear on other pages too.  These two listed pages are only the ones that come to my mind  ;)_

The ask is for Yangson to also support RFC 8525.


### How to Identify which YL is Provided

Two ideas:

1. use an additional parameter/flag to indicate the YL's revision
2. auto-sense the YL-revision (i.e., is "modules-state" than 7895, else 8525)


### How to Identify which Datastore is Use

_This assumes that each datastore can be supported by an instance of `yangson.DataModel`._

Only one idea:
1. use an additional parameter/flag to indicate the datastore


### Context

My RESTCONF server wishes to implement NMDA, in order to support the <system> datastore described in [draft-ietf-netmod-system-config](https://datatracker.ietf.org/doc/draft-ietf-netmod-system-config/), in order to support multi-tenancy (i.e., the 'host' system can share stuff with 'tenant' systems, that appear as <system> data to the tenants.

Doing this with existing Yangson is a little awkward as my server MUST return RFC 8525 YL to clients, per [RFC 8527, Section 2](https://datatracker.ietf.org/doc/html/rfc8527#section-2), and yet it doesn't consume that format itself.  My code must maintain distinct instances of both YL revisions.


I actually addressed this issue last week by a [note](https://yangson.labs.nic.cz/quickstart.html#initializing-the-data-model) in the documentation). The thing is that the 8525 format adds some complications, as you discuss above. I was thinking that the data model doesn't change that often so that an offline conversion utility might suffice. Could [convert8525](https://yangson.labs.nic.cz/convert8525-man.html#convert8525-man) help you?

Laugh.  I wrote a similar thing yesterday.  Now my Python code natively uses 8525 everywhere, and JIT-converts to 7895 just before calling DataModel().  That said, having `convert8525` on the command line will help some of my command-line tests using Yangson to work too, so thank you for that!

Still, I wish Yangson had more native support....

FWIW, `yanglint` supports 8525-formated YL on the command line.