yangson.exceptions.InvalidLeafrefPath: etsi-nfv-descriptors:cpd (Question)

Hello there. I don't know if this is an issue but I always get this exception: "yangson.exceptions.InvalidLeafrefPath: etsi-nfv-descriptors:cpd" when I try to build up the DataModel of these modules: [etsi-nfv-"name"](https://forge.etsi.org/rep/nfv/SOL006/tree/master/src/yang). Could you please verify this?

Hint:
Leaf that produces this error is in etsi-nfv-vnf.yang at line 1477-1482.

```YANG
          leaf cpd {
            type leafref {
              path "deref(../vdu-id)/../int-cpd/id";
            }
          }
```

How my python code looks like:

```PYTHON
from json_builder import builder
from json_builder.builder import *
import os

module_path = "/home/jakub/PycharmProjects/yangdiff/src/yang/SOL006-master/src/yang/etsi-nfv-descriptors.yang"

import_paths = "/home/jakub/PycharmProjects/yangdiff/src/yang/5.3.0:" \
               "/home/jakub/PycharmProjects/yangdiff/src/yang/SOL006-master/src/yang"

paths = ["/home/jakub/PycharmProjects/yangdiff/src/yang/5.3.0",
         "/home/jakub/PycharmProjects/yangdiff/src/yang/SOL006-master/src/yang"]


b = builder.Build(module_path, import_paths)

paths.insert(0, os.path.dirname(module_path))

dm = DataModel.from_file(b.json_file.name, tuple(paths))

print(b.json_file.read())

print(dm.ascii_tree())
```

JSON modules-state:

```JSON
{
  "ietf-yang-library:modules-state": {
    "module-set-id": "0",
    "module": [
      {
        "name": "ietf-yang-types",
        "namespace": "urn:ietf:params:xml:ns:yang:ietf-yang-types",
        "revision": "",
        "conformance-type": "implement"
      },
      {
        "name": "ietf-inet-types",
        "namespace": "urn:ietf:params:xml:ns:yang:ietf-inet-types",
        "revision": "",
        "conformance-type": "implement"
      },
      {
        "name": "etsi-nfv-descriptors",
        "namespace": "urn:etsi:nfv:yang:etsi-nfv-descriptors",
        "revision": "",
        "conformance-type": "implement",
        "submodule": [
          {
            "name": "etsi-nfv-common",
            "revision": ""
          },
          {
            "name": "etsi-nfv-vnf",
            "revision": ""
          },
          {
            "name": "etsi-nfv-pnf",
            "revision": ""
          },
          {
            "name": "etsi-nfv-ns",
            "revision": ""
          }
        ]
      }
    ]
  }
}
```

XPath function are not permitted in the argument of `path`. See sec. 9.9.2 in RFC 7950.

> XPath functions are not permitted in the argument of `path`. See sec. 9.9.2 in RFC 7950.

Yes I see it's not defined, what also means it is not illeagal to use it. I found someting interesting on tailf [page](https://info.tail-f.com/hubfs/Whitepapers/Whitepaper:%20XPath%20in%20NETCONF%20and%20YANG.pdf):
![Deref](https://user-images.githubusercontent.com/79207679/109957147-d7cf3200-7ce4-11eb-8cd8-f17a08454b11.PNG)


It is defined quite clearly in the [ABNF grammar](https://www.rfc-editor.org/rfc/rfc7950.html#section-14) for YANG 1.1, see the production for `path-arg` and following.

I don't know why tail-f has that false information in their whitepaper, I assume it is their proprietary YANG extension, and they should say so.
